*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,69,75,1) 40%, rgba(2,69,75,1) 63%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    /* background: linear-gradient(90deg, rgb(1, 23, 25) 40%, rgb(0, 16, 18) 63%, rgb(4, 4, 77) 100%, rgb(2, 7, 39) 100%); */
    /* background-image: linear-gradient( 90.1deg,  rgb(0, 0, 0) 14.5%, rgb(0, 0, 0) 135.4% ); */
}

.head{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 18px;
    /* background-color: black; */
}

.head > a{
    color: white;
    text-decoration: none;
    /* font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; */
}

.head > a,p{
    cursor: pointer;
}

/* .head > p:hover{
    background-color: yellow;
    color: black;
    padding: 7px;
    border-radius: 15px;
} */

.home{
    background-color: yellow;
    height: 20px;
    width: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: black;
    padding: 7px;
    border-radius: 15px;
}

/* Main */

.social{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 23px;
    margin-left: 40px;
    margin-top: 130px;
}

.main{
    display: flex;
}

.social > a{
    color: white;
}

.social > a:hover{
    color: #0000FF;
}

.me{
    margin-top: 100px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 650px;
}

.me > .name{
    color: white;
    font-size: 30px;
}

.name-1{
    font-size: 55px;
    font-family: sans-serif;
    color: rgb(255, 0, 0);

}

.me > h2{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 255, 225);
}

.abc{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(230, 230, 230);
}

.img{
    display: flex;
    margin-top: 70px;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 5px 30px black;
    transition: all ease-in-out 0.3s;
}

.img:hover{
    scale: 110%;
}

.img > .img1{
    border-radius: 50%;
    height: 360px;
    width: 360px;
    position: relative;
    top: 20px;
    left: 20px;
    box-shadow: 0px 0px 30px 20px #0617d2 ;
}

.me-1{
    display: flex;
    gap: 2rem;
    margin-top: 7px;
}

.hire{
    background-color: yellow;
    color: black;
    border-radius: 10px;
    padding: 7px 10px 7px 10px ;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.hire:hover{
    background-color: white;
    color: black;
}

.view{
    border: 2px yellow solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(230, 255, 5);
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 11px 8px 11px;
    cursor: pointer;
}

.view:hover{
    background-color: yellow;
    color: black;
}


/* Main2 */

.main2{
    display: flex;
    /* justify-content: center; */
    /* width: 100%; */
    background-color: rgb(11, 52, 52);
    /* background-image: radial-gradient( circle farthest-corner at 48.8% 52%,  rgb(26, 24, 58) 0.1%, rgba(10,14,42,1) 100.2% ); */
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    /* justify-content: center; */
}


.skills{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    /* margin-top: 200px; */
    font-weight: bold;
    padding-top: 30px;
}

.html, .css, .js, .oops, .mysql, .react{
    height: 20px;
    width: 90%;
    background-color: black;
    border-radius: 7px;
    /* margin-top: 100px; */
}

.first, .second, .third, .forth, .fifth, .sixth{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.col-html{
    height: 20px;
    width: 90%;
    background-color: rgb(56, 56, 215);
    border-radius: 7px;
}

.col-css{
    height: 20px;
    width: 80%;
    background-color: rgb(56, 56, 215);
    border-radius: 7px;
}

.col-js{
    height: 20px;
    width: 75%;
    background-color: rgb(56, 56, 215);
    border-radius: 7px;
}

.col-oops{
    height: 20px;
    width: 85%;
    background-color: rgb(56, 56, 215);
    border-radius: 7px;
}

.col-mysql{
    height: 20px;
    width: 80%;
    background-color: rgb(56, 56, 215);
    border-radius: 7px;
}

.col-react{
    height: 20px;
    width: 60%;
    background-color: rgb(56, 56, 215);
    border-radius: 7px;
}

.sixth{
    padding-bottom: 50px;
}

.project{
    display: flex;
    gap: 10px;
    margin: 10px;
    justify-content: space-evenly;
    overflow-x: scroll;
}

.box1{
    height: 200px;
    width: 303px;
    border-radius: 5px;
}

.pro{
    color: rgb(255, 255, 255);
    font-size: 33px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 23px;
    /* text-shadow: 2px 2px 7px #FF0000; */
    text-shadow: 0 0 3px #FF0000, 0 0 15px #0000FF;
}

.resume > .box1-1{
    height: 398px;
    width: 300px;
}

.box{
    height: 400px;
    width: 305px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 5px;
    gap: 10px;
    align-items: center;
    border: 2px black solid;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 2px gray;
}

.box:hover{
    /* background-color: rgb(83, 236, 185); */
    scale: 105%;
}


.box > p{
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 10px;
}

/* .box > h2{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
} */

.box > a{
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: 23px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.box > a:hover{
    background-color: rgb(235, 94, 198);
}

.box1-1{
    height: 385px;
    width: 300px;
}

.main4{
    background-color: rgb(224, 224, 224);
    height: 33px;
    width: 100%;
    margin-top: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form > input{
    height: 40px;
    width: 400px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.form > input:hover{
    border: 2px blue solid;
}

.main5{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main5 > h2{
    color: white;
    padding: 20px;
    text-shadow: 0 0 3px #FF0000, 0 0 10px #0000FF;
    font-family: Arial, Helvetica, sans-serif;
}

#pur{
    height: 80px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

#pur:hover{
    border: 2px solid blue;
}

input{
    outline: none;
}

.submit{
    padding: 5px;
    height: 40px;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: rgb(4, 204, 4);
    border: none;
    margin: 23px;
    margin-bottom: 50px;
    transition: all ease-in-out;
    cursor: pointer;
    /* text-shadow: 0 0 3px #FF0000, 0 0 10px #0000FF; */
    font-family: Arial, Helvetica, sans-serif;
}

.submit:hover{
    scale: 105%;
    border: 1px black solid;
}

.main6{
    height: 20px;
    width: 100%;
    background-color: #2e3091;
}

footer{
    height: 300px;
    width: 100%;
    background-color: rgb(19, 14, 14)
}

.foot{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    padding-top: 30px;
}

.social-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.con{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 5px;
}

.media > a{
    color: #0000FF;
    margin: 1px;
}

.media > a:hover{
    color: white;
}

.social-1 > a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Media Query for phones */

@media (max-width: 768px) {

    body {
    overflow-x: hidden;
    }

    *{
    box-sizing: border-box;
    }

    .main {
    width: 100%;
    }

    .img {
    max-width: 90%;
    margin: auto;
    }

    .me {
    max-width: 90%;
    margin: auto;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }


    .main {
        flex-direction: column;
        align-items: center;
    }

    .social {
        flex-direction: row;
        gap: 1rem;
        margin: 20px 0;
        font-size: 20px;
    }

    .img {
        margin: 20px 0;
        height: 250px;
        width: 250px;
    }

    .img > .img1 {
        height: 230px;
        width: 230px;
        top: 10px;
        left: 10px;
    }

    .me {
        margin: 20px 0;
        align-items: center;
        text-align: center;
    }

    .me > .name {
        font-size: 24px;
    }

    .name-1 {
        font-size: 40px;
    }

    .me > h2 {
        font-size: 35px;
    }

    .abc {
        font-size: 15px;
    }

    .me-1 {
        flex-direction: column;
        gap: 10px;
    }

    .project {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .box1, .box1-1 {
        width: 100%;
        height: auto;
    }

    .form > input,
    #pur {
        width: 90%;
        max-width: 400px;
    }

    .head {
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 12px;
    }

    .main2 {
        padding: 20px;
    }

    .skills {
        font-size: 20px;
    }

    footer {
        text-align: center;
        padding: 20px 10px;
    }

    .foot h1 {
        font-size: 20px;
    }

    .foot h2 {
        font-size: 16px;
    }

    .non {
        width: 100%;
        font-size: 12px;
    }
    .astro > .box1{
        height: 200px;
    }
   
.resume > .box1-1{
    height: 398px;
    width: 300px;
}
.tic > .box1{
    height: 200px;
}
}



/* @media(width<64rem){
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form > input{
        width: 300px;
    }

    #pur{
        width: 300px;
    }

    .social{
        flex-direction: row;
        padding-left: 40px;
    }

    .main{
        flex-direction: column;
    }

    .head{
        display: none;
        position: relative;
        bottom: 50px;
        left: 30px;
    }

    .non{
        width: 80%;
        text-align: center;
    }
} */